* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #f5f2ed;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 30px;
  }
  
  .container {
    width: 400px;
    height: 400px;
    margin: 40px auto;
    position: relative;
    background-color: #fff;
    overflow: hidden;
  }
  
  #box {
    width: 80px;
    height: 80px;
    background-color: blue; 
    border-radius: 20%;
    position: absolute;
    /* animation-name: shiftTheBox;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; */
  }
  
  /* @keyframes shiftTheBox {
    0%, 100% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(320px, 0);
      background-color: #af1616;

    }
    50% {
      transform: translate(320px, 320px);
      background-color: aqua;
    }
    75% {
      transform: translate(0, 320px);
    }
  } */
  
  #reaction-time {
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  /* #restart-btn {
    margin: 20px auto 0;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    display: none;
    text-align: center;
  } */
    
